.demo2-svg {
  width: 200px;
  height: 240px;
  display: block;
  margin: 0 auto;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.demo2-svg {
  animation: rotate 10s linear infinite;
}
